.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: gray;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
.nav>li>a {
    text-align: center;

}
.menu-chicken {
	background: #F0F8FF;
}
.menu-beef {
	background: #FFF8DC;
}
.menu-sushi {
	background: #E6E6FA;
}
#pg-heading{
	font-family: 'Lora', serif;
  	color: gray;
  	font-size: 2em;
   	font-weight: bold;
   	margin-bottom: 10px;
}
.title {
   	font-weight: bold;
}
#menus div {
	height: 1000px;
}
#main-content div {
	margin-bottom: 15px;
}
@media (max-width: 767px) {
	.row {
		margin-left: 25px;
		margin-right: 25px;
	}
}